* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto Condensed", "Montserrat", sans-serif;
    font-size: 20px;
}

/* to lower opacity of background */
body::after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    /* https://pixabay.com/p-2025937/?no_redirect */
    background: url("../images/crystal-background.jpg") no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    height: 130%;
    opacity : 0.5;
    z-index: -1;
}

/* contains everything except image credit link */
.container {
    text-align: center;
    width: 100%;
    margin: auto;
}

/* page title */
h1 {
    font-size: 48px;
    margin-top: 55px;
    font-family:"Lakki Reddy",  "Fascinate Inline", "Zilla Slab Highlight", "Ribeye Marrow", "Berkshire Swash", serif;
}

#instructions {
    max-width: 630px;
    margin: auto;
    margin-top: -10px;
    margin-bottom: 55px;
    text-align: left;
    text-justify: inter-word;
}

h2 {
    text-align: center;
    font-size: 20px;
}

/* contains all 3 stats divs */
.stats-container {
    margin-bottom: 30px;
    position: relative;
}

/* flashes for around 3 seconds every 5 wins */
#motivation {
    width: 200px;
    margin-top: -30px;
    font-size: 18px;
    background-color: #ffcc25;
    font-style: italic;
    position: absolute;
    right: 500px;
    top: 16px;
    display: none;
}

#goal-number-div,
#total-div,
#win-loss-div {
    display: inline-block;
    width: 250px;
    height: 70px;
    background: black;
    color: white;
    margin-left: 5px;
}

#goal-number-div {
    margin-left: 0;
}

#goal-number-div p,
#total-div p,
#win-loss-div p {
    margin: auto;
    padding-top: 10px;
}

/* flashes win-loss-div to gold every 5 wins */
.flash {
    animation: flash 1s ease-out;
    animation-iteration-count: 2;
  }

@keyframes flash {
    0% { background-color: none; }
    50% { background-color: #ffcc25; }
    100% { background-color: none; }
}

/* contains all the crystal images */
#crystals {
    width: 80%;
    margin: auto;
    margin-bottom: 4px;
}

img {
    cursor: pointer;
    width: 180px;
    padding: 10px;
}

/* image credit link */
a {
    position: fixed;
    right: 30px;
    bottom: 20px;
    text-decoration: none;
    color: rgb(158, 212, 221);
    font-size: 14px;
}

a:hover {
    text-decoration: underline;
    color: blue;
}